
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Kulüp Adı</label>
        <input type="type" class="form-control" name="KULUPAD" />
    </div>
    <div style="margin-top:10px">
        <button class="btn-btn info">Kulup Ekle</button>
    </div>



</form>

