
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Hesap Makinesi</h2>
<br />
<form class="form-group" method="post">
    <div>
        sayi1:<input type="text" name="sayi1" id="sayi1" /> <br />
        sayi2:<input type="text" name="sayi2" id="sayi2" /><br />
        <button class="btn btn-default warning">Hesapla</button><br />
        SAYI1:@ViewBag.sayi1;<br /> 
        SAYI2:@ViewBag.sayi2;<br />
        Toplam:@ViewBag.tpl ;<br />
        Cıkarma:@ViewBag.ckr; <br />
        Carpma:@ViewBag.crp;<br />
        Bolme:@ViewBag.blm;<br />

    </div>

</form>